In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import time
from datetime import datetime, timedelta

from bs4 import BeautifulSoup as bs

from splinter import Browser
from splinter.exceptions import ElementDoesNotExist

In [2]:
#deal with ChromeDriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

#had issues with chrome driver, added it to my environment variable pathing using %USERPROFILE%\AppData\Roaming\webdrivers
#which fixed the issue

In [3]:
#visit the url
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
#create beautiful soup instance and parse using html (not xlml)
html = browser.html
soup = bs(html, 'html.parser')

### NASA Mars News

* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

```python
# Example:
news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [5]:
#declare our main variables to hold title and paragraph
news_title = soup.find('div', 'content_title', 'a').text
news_paragraph = soup.find('div', 'rollover_description_inner').text
print(f"Title: {news_title}")
print(f"Paragraph: {news_paragraph}")

Title: NASA's InSight Will Study Mars While Standing Still
Paragraph: The lander's unique science can teach us how planets are born.

### JPL Mars Space Images - Featured Image

* Visit the url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).

* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.

* Make sure to find the image url to the full size `.jpg` image.

* Make sure to save a complete url string for this image.

```python
# Example:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

In [6]:
#visit the url
#url = 'https://mars.nasa.gov/news/'
featured_home_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
featured_image_url = "https://www.jpl.nasa.gov"
browser.visit(featured_home_url)

In [7]:
#create beautiful soup instance and parse using html (not xlml)
fi_html = browser.html
fi_soup = bs(fi_html, 'html.parser')

In [8]:
fi_items = fi_soup.find("div",{"class":"carousel_items"}).find("article")
#https://stackoverflow.com/questions/8825788/use-of-slice-command-with-split-command
fi_image = fi_items['style'].split(':')[1].split('\'')[1]

#https://stackoverflow.com/questions/1185524/how-do-i-trim-whitespace
fi_title = fi_items.find("h1",{"class":"media_feature_title"}).text.rstrip().lstrip()

#print(fi_items['style'].split(':')[1].split('\'')[1])
print(fi_image)
print(fi_title)

fi_image_link = featured_image_url + fi_image
print(fi_image_link)

/spaceimages/images/wallpaper/PIA18433-1920x1200.jpg
Sunglint on a Hydrocarbon Lake
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18433-1920x1200.jpg

### Mars Weather

* Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en) and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called `mars_weather`.

```python
# Example:
mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09-17:55'

In [9]:
#deal with ChromeDriver
#executable_path = {'executable_path': 'chromedriver.exe'}
#browser = Browser('chrome', **executable_path, headless=False)

In [10]:
weather_home_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_home_url)

In [11]:
weather_html = browser.html
weather_soup = bs(weather_html, "html.parser")

weather_mars = weather_soup.find("ol",{"id":"stream-items-id"}).find("li").find("p").text
print(weather_mars)

Sol 2208 (2018-10-22), high -18C/0F, low -75C/-102F, pressure at 8.80 hPa, daylight 06:08-18:26

### Mars Facts

* Visit the Mars Facts webpage [here](http://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [12]:
# Mars Facts URL
mars_url = "https://space-facts.com/mars/"
browser.visit(mars_url)

In [13]:
mars_html = browser.html
mars_soup = bs(mars_html, "html.parser")

In [14]:
mars_info = mars_soup.find("div",{"id":"facts"}).find("li").find("strong").text
print(mars_info)

Mars and Earth have approximately the same landmass.

In [ ]:
"""
SEARCH THROUGH THE TABLE

<table id="tablepress-mars" class="tablepress tablepress-id-mars">
<tbody>
<tr class="row-1 odd">
<td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br>
</td>
</tr>
<tr class="row-2 even">
<td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br>
</td>
</tr>
<tr class="row-3 odd">
<td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>
</tr>
<tr class="row-4 even">
<td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>
</tr>
<tr class="row-5 odd">
<td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td>
</tr>
<tr class="row-6 even">
<td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br>
</td>
</tr>
<tr class="row-7 odd">
<td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 Â°C</td>
</tr>
<tr class="row-8 even">
<td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td>
</tr>
<tr class="row-9 odd">
<td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td>
</tr>
</tbody>
</table>
"""

In [15]:
mars_table = mars_soup.find('table', class_='tablepress tablepress-id-mars')
column_name = mars_table.find_all('td', class_='column-1')
column_value = mars_table.find_all('td', class_='column-2')

column_names = []
column_values = []

for row in column_name:
    column = row.text.strip()
    column_names.append(column)
    
for row in column_value:
    value = row.text.strip()
    column_values.append(value)
    
mars_facts_df = pd.DataFrame({
    "Column":column_names,
    "Value":column_values
    })

mars_facts_df

#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pivot.html
#mars_facts_df.pivot(index=None, columns='Column', values='Value')

                 Column                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
mars_facts_df.describe()

       Column                     Value
count       9                         9
unique      9                         9
top     Mass:  227,943,824 km (1.52 AU)
freq        1                         1

In [17]:
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_html.html
#http://wesmckinney.com/blog/formatting-dataframe-as-html/
#https://stackoverflow.com/questions/32430009/python-pandas-data-frame-save-as-html-page

mars_facts_html_table_string = mars_facts_df.to_html(header=False, index=False)
mars_facts_html_table_string

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 Â°C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_html.html
mars_table = pd.read_html(mars_url)
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

---
## Mars Hemispheres

* Visit the USGS Astrogeology site [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) to obtain high resolution images for each of Mar's hemispheres.

* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys `img_url` and `title`.

* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

```python
# Example:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]
```

- - -

In [19]:
hs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hs_url)

In [20]:
hs_soup = bs(browser.html,"html.parser")
hs_items = hs_soup.find("div",{"id":"product-section"}).find_all("div",{"class":"item"})
#hemisphere_data = []

In [21]:
#https://stackoverflow.com/questions/35616434/how-can-i-get-the-base-of-a-url-in-python
#https://docs.python.org/3/library/urllib.parse.html#urllib.parse.urlparse
hs_home_base_url = hs_url.rsplit('/', 2)[0]
hs_home_base_url

'https://astrogeology.usgs.gov'

In [22]:
"""
<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquiredâ¦</p></div> <!-- end description --></div>
"""

'\n<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquiredâ¦</p></div> <!-- end description --></div>\n'

In [23]:
#https://stackoverflow.com/questions/1424005/in-python-how-do-i-create-a-string-of-n-characters-in-one-line-of-code

hs_list = []

timecounter = 0
for hsitem in hs_items:
    #print(hsitem)
    
    #get the base url and make a complete url
    hs_image_base_url = hsitem.find("a")["href"]
    hs_image_main_url = hs_home_base_url + hs_image_base_url
       
    print(f'Base URL: {hs_image_base_url}')
    print(f'Main URL: {hs_image_main_url}')
    
    #find the title of the image
    hs_image_title = hsitem.find("div",{"class":"description"}).find("a").find("h3").text
    
    print(f'Image Title: {hs_image_title}')
    
    #go to the image search page-----------------------------
    browser.visit(hs_image_main_url)
    
    hs_image_soup = bs(browser.html,"html.parser")
    hs_download_items = hs_image_soup.find("div",{"class":"downloads"})
    hs_full_image_url = hs_download_items.find("li").find("a")["href"]
    print(f'Full URL: {hs_full_image_url}')
    
    #add to dictionary
    hs_dict = {"title": hs_image_title, "img_url": hs_full_image_url}
    
    #append to list
    hs_list.append(hs_dict)
    
    #got a timeout error or high latency?
    #adding a sleep just account for the above
    time.sleep(2)
    print("**" * timecounter)
    
    timecounter +=1

Base URL: /search/map/Mars/Viking/cerberus_enhanced
Main URL: https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
Image Title: Cerberus Hemisphere Enhanced
Full URL: http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

Base URL: /search/map/Mars/Viking/schiaparelli_enhanced
Main URL: https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
Image Title: Schiaparelli Hemisphere Enhanced
Full URL: http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
**
Base URL: /search/map/Mars/Viking/syrtis_major_enhanced
Main URL: https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
Image Title: Syrtis Major Hemisphere Enhanced
Full URL: http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
****
Base URL: /search/map/Mars/Viking/valles_marineris_enhanced
Main URL: https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced
Image Title: Valles Marineris Hemisphere Enhanced
Full URL: http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg
******

In [24]:
#print(hs_image_base_url)

In [25]:
hs_image_df = pd.DataFrame(hs_list)
hs_image_df

,img_url,title
0,http://astropedia.astrogeology.usgs.gov/downlo...,Cerberus Hemisphere Enhanced
1,http://astropedia.astrogeology.usgs.gov/downlo...,Schiaparelli Hemisphere Enhanced
2,http://astropedia.astrogeology.usgs.gov/downlo...,Syrtis Major Hemisphere Enhanced
3,http://astropedia.astrogeology.usgs.gov/downlo...,Valles Marineris Hemisphere Enhanced

In [26]:
#reorganize for better readability
hs_image_df = hs_image_df[['title','img_url']]
hs_image_df

,title,img_url
0,Cerberus Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...
1,Schiaparelli Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...
2,Syrtis Major Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...
3,Valles Marineris Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...